*{
  box-sizing: border-box;
}

body {
  width: 901px;
  margin: auto;
}

hr {
	height: 20px;
	background: url(./img/hr-img.png) repeat-x 5px 5px;
  border: none;
}

header {
  padding-top: 70px;
  height:150px;
  position: relative;
}

nav {
  width: 960 px;
  margin: auto;
}

nav > div > div  {
  position: absolute;
  float: left;
}

nav > div > div:nth-child(2) h2 {
  font-family: 'Yellowtail', cursive;
  font-size: 35px;
  margin: 0;
}

nav > div > div:nth-child(2) p {
  font-family: 'Play', sans-serif;
  font-size: 12px;
  color: #666;
  margin: 0;
}

nav > div > div:nth-child(2) > ul{
  margin: 0;
}

nav > div > div:nth-child(2) {
  margin-left: 10px; 
}

nav > div:nth-child(1) > ul{
  position: absolute;
  top: 50%;
  height:50px;
}

nav > div:nth-child(1) > ul > li {
  float: left;
  margin-right: 50px;
  line-height: 60px;
}

nav > div:nth-child(2) > ul > li:nth-child(3) {
  margin-right: 10px;
}

nav > div:nth-child(2) > ul > li {
  float: right;
}

section > div:nth-child(1) {
  float: left;
}

section > div:nth-child(1) > ul {
  padding: 0;
}

section > div:nth-child(1) > ul > li > h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  margin: 0;
}

section > div:nth-child(1) > ul > li > p {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  color: rgb(160, 158, 158);
  margin-top: 10px;
}

section > div:nth-child(2) {
  float: right;
  font-family: 'Play', sans-serif;
  color: #666;
}

section > div:nth-child(2) > ul >{
  position: absolute;
  padding: 0px;
}

section > div:nth-child(2) > ul > li {
  float: right;
}

section > div:nth-child(2) img {
  padding-top: 20px;
  margin-right: 5px;
}

article {
  font-size: 18px;
  color: #666;
  text-indent: 30px;
  line-height: 23px;
}

.recipe-container {
  position: relative;
  font-size: 25px;
}

.recipe-container > div > ul > li {
  font-family: 'Mali', cursive;
}

.text-block { 
  list-style-type: square;
  position: absolute;
  bottom: 100px;
  right: 100px;
  column-count: 2;
  column-gap: 110px;
}
